.Scoreboard{
    height:100vh;
    background-color: #ffb8ff;
    width: 18vw;
}

@media only screen and (max-width: 880px) {
    .Scoreboard{
        width: 17vw;
    }
}

@media only screen and (max-width: 740px) {
    .Scoreboard{
        width: 100vw;
    }
}

