.Scoreboard{
    height:100vh;
    background-color: #1a1a1a;
    width: 18vw;
    color: #eeeeee;
    font-size: 1.5em;
    position: relative;
    right: 0;
}

.hs{
    text-align: center;
    width: 100%;
}

.u{
    color: rgb(184, 63, 253);
}

.offline{
    color: rgba(255, 255, 255, 0.192);
}

.playersList{
    height: 60%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: .3em;
}

.playersList div{
    height: 1em;
    overflow: hidden;
    width: 100em;
}

.Scoreboard button{
    display: block;
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    width: 90%;
    height: 4rem;
    transition: background-color .2s ease-out;
    border: none;
    border-radius: .2rem;
    outline: none;
    color: rgb(214, 202, 183);
}

.Scoreboard .unclicked{
    background-color: rgb(88, 42, 114);
}
.Scoreboard .clicked{
    background-color: rgb(53, 39, 61);
}


@media only screen and (max-width: 740px) {
    .Scoreboard{
        width: 100vw;
        position: relative;
    }
    .Scoreboard button{
        display: block;
        position:  absolute;
        width: 4em;
        font-size: .7em;
        top: 0em;
        bottom: initial;
        right: .2em;
        left: initial;
        transform: initial;
        height: calc(16vh - .4em);
        margin-top: .2em;
        margin-bottom: .2em;
    }
    .hs{
        display: block;
        text-align: left;
        width: 60%;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        padding-left: 0.3em;
        font-size: 1.2em;
    }
    .playersList{
        font-size: .7em;
        width: 65%;
    }
}

