svg{
    margin: auto;
    width: 50%;
}


.svgContainer{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 740px){
    svg{
        transform: rotate(90deg);
        width: 2em;
    }
}