.card{
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 0.07rem;
    border-radius: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

.card:hover{
    border-style: dashed;
    border-color: orange;
    background-color: rgba(255, 166, 0, 0.185);
}

.selectedCard{
    background-color: rgba(255, 166, 0, 0.397) !important;
    border-color: orchid !important;
}

.movements{
    animation: eni 1s ease-out 0s normal !important;
}

@keyframes eni{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}