.card{
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 0.07rem;
    border-radius: 3%;
    height: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.card img{
    height: auto;
    width: 50%;
}

.card .hidden{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
.card .imgBox{
    background-color: rgb(28, 31, 43);
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover{
    border-color: rgb(167, 0, 0);
    background-color: rgb(214, 214, 214);
}

.selectedCard{
    background-color: rgb(228, 227, 155) !important;
    border-color: rgb(255, 0, 0) !important;
}

.badCard{
    border-color: red !important;
    border-width: 5px !important;
}

.movements{
    animation: eni 1s ease-out 0s normal !important;
}

.cooldown{
    position: absolute;
    top:0;
    height: 1.5em;
    width: 80%;
    display: block;
    border:2px solid black;
}
.cooldown  > .proc{
    background-color: rgb(218, 57, 57);
    width: 0%;
    height: 100%;
}.cooldown > .procAnimation{
    opacity: 0;
    animation: cool 10s linear 0s normal !important;
}

@keyframes cool{
    0%{
        width: 0%;
        opacity: 1;
    }
    99%{
        width: 99%;
        opacity: 1;
    }
    100%{
        width: 100%;
        opacity: 0;
    }
}

@keyframes eni{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 740px) {
    .card{
        height: 23vw;
        width: 32vw;
        flex-direction: row;
    }
}