.Table{
    height: 42vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;
    margin-left: 1vw;
}

.winner{
    position: fixed;
    z-index: 5;
    height: 100vh;
    line-height: 100vh;
    width: 82vw;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 255, 106, 0.822);
    font-size: 4rem;
    text-align: center;
    overflow: visible;
}

.winnerSubtext{
    color: rgb(223, 223, 223);
    margin-bottom: 0vh;
    font-size: 0.5em;
}

@media only screen and (max-width: 880px) {
    .Table{
        height: 73.76vw;
        margin-right: 2vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 740px) {
    .Table{
        width: 100vw;
        height: 88.9vw;
        margin-bottom: 2vw;
    }
}