.Game{
    margin:0px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0px;
    background-color: rgb(114, 90, 128);
}

*::selection{
    color: tomato;
}

*{
    box-sizing: border-box;
}